.header {
  display: flex;
  margin-bottom: 40px;
  height: 60px;
  background: #5cb85c;
  align-items: center;
}

.header .list {
  margin-right: auto;
}
.header .description {
  margin-right: auto;
  padding-left: 40px;
}

.list .item {
  padding: 0 20px;
}
